Задача 1
Создайте переменную a = 10, возвести значение в 3 степень и найти остаток от деления на 3.

In [ ]:
a = 10
a ** 3 % 3

1

Задача 2
Найдите площадь круга с радиусом 1.23456.

(Считаем π = 3.14)

In [ ]:
import math
r = 1.23456
s = math.pi * (r ** 2)
s

4.788221980387909

Задача 3
Найдите, истинно ли, что 2 в 10 степени больше 1000 при условии, что 4 в 7й степени меньше 8 в 5й.

In [ ]:

def is_true():
  a, b, c, d = 2 ** 10, 1000, 4 ** 7, 8 ** 5 
  return True if (c < d and a > b) else False


is_true()

True

Задача 4
Мы принимаем целое число на ввод с клавиатуры (код предоставлен), вывести "цена выше рынка", если число выше 1200, "цена ниже рыночной", если число меньше 800 и "все ок" в остальных случаях.

In [ ]:
price = int(input('Введите цену товара: '))
if price > 1200:
  print('цена выше рынка')
elif price < 800:
  print('цена ниже рыночной')
else:
  print('все ок')

Введите цену товара: 700
цена ниже рыночной

Задача 5
Распечатайте с 4 по 8 символ фразы "Привет мир!" приведенные к верхнему регистру.

In [ ]:
a = 'Привет мир!'
print(a.upper()[4:8])

ЕТ М

Задача 6
Создайте переменную, которая хранит описание этой задачи как строку, разделите слова по пробелам и приведите к нижнему регистру.

In [ ]:
a = 'Создайте переменную, которая хранит описание этой задачи как строку,\n
      разделите слова по пробелам и приведите к нижнему регистру.'
for i in a.split(' '):
  print(i.lower())

создайте
переменную,
которая
хранит
описание
этой
задачи
как
строку,
разделите
слова
по
пробелам
и
приведите
к
нижнему
регистру.

Задание 7
Напишите код, который проверяет, является ли переменная x строкой, и если да, то если в строке больше одного слова (слово--последовательность подряд идущих символов без пробелов), то выводит на экран количество слов в этой строке и сами слова в алфавитном порядке.

In [ ]:
x = 'z hello world'

if type(x) is str:
  a = x.split()
  if len(a) > 1:
    one, two, three = a[0], a[1], a[2]
    print(f'{len(a)}\n{one}\n{two}\n{three}')

3
z
hello
world

Задание 8
Напишите код, который все элементы массива x с нечетными индексами переставит в обратном порядке.

Т.е. если x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9], то код должен получать [0, 9, 2, 7, 4, 5, 6, 3, 8, 1]

In [ ]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in range(1, len(x), 2):
    if x[-1] > x[i]:
      x[-1], x[i] = x[i], x[-1]

x

[0, 9, 2, 3, 4, 5, 6, 7, 8, 1]

Напишите цикл, который выводит все числа от 0 до 500, делящиеся на 7, если в них есть цифра 8.

Подсказка: переменную типа int можно привести к типу str:

In [ ]:
for i in range(500):
  if i % 7 == 0:
    if str(i).find('8') != -1:
        print(i)

28
84
98
168
182
189
238
280
287
308
378
385
448
483

Задание 10
Создайте список a, состоящий из каких-то элементов.
Создайте список b такого же размера, как a, состоящий из каких-то элементов.
Выведите нумерованный список пар из элементов списков a и b.

In [ ]:
a = [('81', 'x'), ('22', 'y'), ('37', 'z')]
b = [('11', 'x'), ('21', 'z'), ('33', 'z')]

list(zip(range(len(a)), a, b))

[(0, ('81', 'x'), ('11', 'x')),
 (1, ('22', 'y'), ('21', 'z')),
 (2, ('37', 'z'), ('33', 'z'))]

Задание 11
Дан массив строк mas. Одной строкой создайте словарь, в котором по ключу строки будет записана пара (кортеж длины 2) (индекс строки в массиве mas, длина строки)

In [ ]:
mas = ['abv', 'adc']
{k: (v, len(k)) for v, k in enumerate(mas)}

{'abv': (0, 3), 'adc': (1, 3)}

Задание 12
Релизовать функцию, которая возвращает сумму всех позиционных и именованных аргументов.

In [ ]:
def func(*args, **kwargs):
  res = 0
  for i in args:
    res += i
  for k in kwargs.values():
    res += k
  return res

print(func(1, 2, 3, a=4, b=5))

15

Задание 13
Реализовать функцию, которая сохраняет в 2 глобальные переменные:

сумму всех позиционных аргументов - релизовать через lambda;
название всех именованных аргументов в виде списка.

In [ ]:
summ = 0
names = []
def another_func(*args, **kwargs):
  global summ
  global names
  summ = (lambda *args:  sum(args))(*args)
  for name in kwargs.keys():
    names.append(name)
  print(f'Cумма {summ}, названия {names}')

another_func(1,2,3,4, b=1, c=2)

Cумма 10, названия ['b', 'c']

Задание 14
Реализовать класс с 2 функциями:

Первая функция копирует функционал задачи №13, но сохраняет переменные в области видимости класса;
Вторая функция отображает на экран сумму и названия именованных аргументов.